# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
BASEPATH=
NEXT_PUBLIC_APP_URL=https://balis24-infara25.bapeten.go.id${BASEPATH}
NEXT_PUBLIC_DOCS_URL=https://demos.pixinvent.com/vuexy-nextjs-admin-template/documentation

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_BASEPATH=${BASEPATH}/api/auth
NEXTAUTH_URL=https://balis24-infara25.bapeten.go.id${BASEPATH}/api/auth

NEXTAUTH_SECRET=fHrOfZc+g7Je35vzFT0CMQ2tSMmghmnCCZl/iGPUBcUgh9K3iRL7Zq9wCbY=

# -----------------------------------------------------------------------------
# API
# -----------------------------------------------------------------------------
 API_URL=http://dev-api.bapeten.go.id/api-balis/public
#API_URL=http://localhost:8000


NEXT_PUBLIC_API_URL=${API_URL}

AUTH_LOGIN_ENDPOINT=https://api.example.com/login
AUTH_REFRESH_TOKEN_ENDPOINT=https://api.example.com/refresh

